 $font-size-root: 14px !important;
 $icon-size: 20px !important;
 $radio-group-padding: 2px;
 
 $label-font-size: 14px;

 $label-line-height: 1.2 !important;
$card-subtitle-padding: 9px !important;
$subheader-item-single-height: 25px !important;
$list-item-two-line-min-height: 55px ;
 $input-max-height: 26px;
$textarea-box-enclosed-single-outlined-margin-top: 6px;
$textarea-box-enclosed-single-outlined-label-top: 20px;
 $textarea-box-enclosed-prefix-margin-top:	14px;
 $textarea-line-height: 1.4rem;
// @import "stylesheets/_variables";
 // $color-pack: false;
 // 
//  $material-dark-elevation-colors: (
//   '0': #000000,
//   '1': #1E1E1E,
//   '2': #222222,
//   '3': #252525,
//   '4': #FFC107,
//   '6': #2C2C2C,
//   '8': #2E2E2E,
//   '12': #333333,
//   '16': #363636,
//ё   '24': #373737
// );

$material-dark: (
	'app-bar': #495566,
	 // 'status-bar': (
      'regular': #373737,
  //     'lights-out': #000000
  //   ),
  'background': #222922,
 'surface': #FFC107,
 // 'bottom-navigation': #FFC107,
 'cards':  #393e41,
);
// $line-height-root: 1.5;
// $toolbar-btn-icon-size: 24px;
$card-actions-padding: 8px !important;
$footer-border-radius: 3px;
$footer-padding:0px 0px;