<div>
  <%= comment.user.username %>  пишет:
  <%= simple_format comment.body %>

  <%= link_to "ответить", "#" %>
  <%= render partial: "comments/form", locals: {commentable: @post, parent_id: comment.id, class: "d-none"} %>
</div>