<%= form_with model: [commentable, Comment.new], local: true, html: {class: local_assigns[:class]} do |form| %>
	<div>
		<%= form.text_area :body, cols: "50", rows: "6", placeholder: "добавить комментарий", class: "form-control" %>
	</div>
	<div>
		<%= form.hidden_field :parent_id, value: local_assigns[:parent_id] %>
		<%= form.submit "Сохранить", :class => "el-button el-button--mini" %>
	</div>
<% end %>