<!-- Hat of site -->


<!-- POsts -->
<% if user_signed_in? %>
	<%= render :template => "posts/index" %>
<% end %>
<!--
	<%# if user_signed_in? %>
		<div class="lobby">
			<%#= tag.div id: :lobby, 
				data: { 
				} 
			%>
		</div>
	<%# end %>
-->
<!-- Parsed and sorted content from vk-->
<div class="mediumtext">
	<%= tag.div id: :headvk, 
		data: { 
		} 
	%>
</div>

<% if !user_signed_in? %>
	<!-- <div id="head"></div> -->
<% end %>

<%# if user_signed_in? %>
<!-- <p style="text-align: center; padding-top: 1em;">
	Доступ на сайт —  после одобрения аккаунта администратором.
</p> -->
<%# end %>
 