<!-- Hat of site -->

<div class="lostcenter">
<!-- POsts -->
<% if user_signed_in? %>
	<%#= render :template => "posts/index" %>
	<div id="posts"></div>
	<div id="chat"></div>	
<% end %>
 <div id="callboard"></div>
	<% if user_signed_in? %>
		<div class="lobby smalltext">
			<%= tag.div id: :lobby, 
				data: { 
				} 
			%>
		</div>
	<% end %>
 
<!-- Parsed and sorted content from vk-->
<div class="mediumtext">
	<!-- <div id="headvk" data-turbolinks="false"></div> -->
	<%= tag.div id: :headvk, 
		data: { 
		} 
	%>
</div>

<%# if !user_signed_in? %>
	<!-- <div id="head"></div> -->
<%# end %>
</div>	
<%# if user_signed_in? %>
<!-- <p style="text-align: center; padding-top: 1em;">
	Доступ на сайт —  после одобрения аккаунта администратором.
</p> -->
<%# end %>
 