@hamster {
  /*  Base settings */
  font-ratio: 1.125;
  unit: em;
  min-line-padding: 1px;
  remove-comments: true;
 /*  Vertical Rythm settings */
  px-baseline: true; 
  px-fallback: true;
  properties:  extend;
  ruler: true;
  ruler-style: always ruler-debug;
  ruler-color: rgba(19, 134, 191, .8);
  ruler-icon-colors: #F0FAFF #ACFF0D;
  ruler-icon-position: "position: absolute;top: 1.5em;left: 1.5em;";
  ruler-background: png;
  /*ruler-output: images/ruler.png;*/
  ruler-pattern: 1 0 0 0;
  ruler-scale: 1;
  ruler-thickness: 1;
  legacy-browsers: true;
} 
/*----------------------------- --   ----  
End Hamster setup*/
@reset;
@box-sizing-reset;
@import "_variables"; 
@import "_extends"; 
@copy full {
  @import "_typography";
}
@paste full;
@media (--only-xsmall-screen) {
  @ihamster {
    --font-size: 12px;
    --line-height: 1.4;
    --to-font-size: 11px;
    --to-line-height: 1.4;
    --viewport: 320px 450px;
    --unit: vw;
  }
  @paste full;
  @hamster end;
}
@media (--only-small-screen) {
  @ihamster {
    --font-size: 11px;
    --line-height: 1.4;
    --to-font-size: 11px;
    --to-line-height: 1.6 ;
    --viewport: 451px 800px;
    --unit: vw;
  }
  @paste full;
  @hamster end;
}
@media (--only-medium-screen) {
  @ihamster {
    --font-size: 11px;
    --line-height: 1.6;
    --to-font-size: 14px;
    --to-line-height: 1.6;
    --viewport: 800px 1919px;
    --unit: vw;
  }
  @paste full;
  @hamster end;
}
@media (--only-1600more-screen){
  @ihamster {
    --font-size: 14px;
    --line-height: 1.6; 
    --to-font-size: 22px;
    --to-line-height: 2;
    --viewport: 1920px 3840px;
    --unit: vw;
  }
  @paste full;
  @hamster end;
}
 
@import "_variables";
.maincontainer { 
  
/*  background: radial-gradient(ellipse at 50% 40% , $sunsetorange , $siteBG  ); */

/*  background: url('../images/bg.png');*/
  /*background-position: center 0;*/
  /*background-color: $palespringbud;*/ 
  /*background: resolve('../images/bg.png');*/
}
.hidden {
  display: none;
}
.noimage {
  height: 100%;
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
/*.charged {
  position: absolute; 
  width: 130px;
  height: 50px;
  background: url('../images/energy_32.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: -15px 43%;
}*/

body {
  background-color: #1E1E21;
  font-family: 'RobotoReg';
  /*color: color($str3 shade(8%));*/
  /* color: #777;*/
  /* color: #edeef0;*/
  color: #e7e8ec;
}
#comment_body {
  background-color: color( $HeadBackColor  shade(46%));
  border-color: color( $HeadBackColor  shade(0%));
  color: inherit;
  padding: 0.5em 0.7em;
  margin-top: 0.7em;
}
.commRaiting {
  margin-left: -1em;
}
#topBlank {
  height: $topBlank;
 
}
.topBlank {
  height: $topBlank;
 
}
.lost1 {
  lost-column: 1/2;
}
.lost2 {
  lost-column: 1/1;
}
.lostcenter {
  lost-center: 980px;
}
.mainframepaddings {
  margin: 1em;
}
.mainframe {
  .vktext {
    padding-bottom: 0.5em;
  }

/*  adjust-font-size: fs base;
  padding: 0.5em 1.2em;
  @media (--only-xsmall-screen) {
    padding: 0.7em 0.5em;
  }
  @media (--only-small-screen) {
    padding: 0.7em 1em;
  }*/
}
.thumb_map_img_as_div{
  height: 300px; width: 500px;
}
.firstpagebg {
 
}
.vkpost {
  border: 0.5em  solid #1E1E21;
  position: relative;
  overflow: hidden;
  padding: 0.7em 1em 0.7em 0.7em;
}
.vkpost:nth-child(even) {
  position: relative;
  z-index: 1;
  border: 0.5em solid color( $HeadBackColor  shade(46%));
  background-color: color( $HeadBackColor  shade(46%));
}
.vktext {
  padding: 0.5em 0em; 
}
.vkdate {
  font-style: italic;
  adjust-font-size: fs tiny;
  padding: 1.0em 1em 0em 0em;  
}
.vkraiting{
  padding: 0.1em;
}
.posttitlelink {
  @extend %textcolor;
  adjust-font-size: fs medium;
}
.posttitlelink:hover {
    color: rgb(86, 224, 31);
}
#head {
  .subj {
    font-family: 'RobotoReg';
  }
}
.title { 
  font-family: 'aprior';
  .vue-typer .custom.char.typed{
    color: color( $isabelline shade(10%));
  }
  .vue-typer .custom.caret.typing {
    color: $teagreen;
    background-color: $teagreen;
  }
  .vue-typer .custom.caret {
    color: $teagreen; background-color: $teagreen;
  }
}
/*.subj {
  .vue-typer .custom.char.typed{
    color:  color($warningLine blackness(80%));
  }
}*/
.plashka {
 font-family: 'aprior';
}
.railsblock {
  height: 1.2em;
  @extend %roundbgstrw;
}
.railsblockhide {

}
.deleteAction {
  color: blue;
  border-bottom: solid 1px;
  cursor: pointer;
}
.el-switch__core {
  height: 12px;
  border-radius: 5px;
}
.el-switch__core:after {
  width: 8px;
  height: 8px; 
}
.el-switch.is-checked .el-switch__core::after {
  left: 100%;
  margin-left: -9px;
}
.el-dialog { 
  font-family: 'aprior';
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.el-dialog__header {
  padding: 25px 30px 7px 30px;
}
 
.el-dialog__body {
  padding: 5px 25px 3px;
}
.el-form-item--mini {
  padding-bottom: 0px;
}
.el-form-item--mini:last-child{
 padding-bottom: 0.2em;
}
.el-button {
  margin: 0.25em 0.25em 0.25em 0.25em;
}
.bpad{
  .el-button {
    margin: 0.25em 0.25em 0.25em 0.25em;
  }
}
.el-checkbox{
  padding-top: 0.1em;
  margin-left: 10px;
}
.el-checkbox__label{
  padding-bottom: 0.1em;
  vertical-align: middle;
}
.el-form-item {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 0px;
}
.el-form-item__content {
   /*display: flex;
   width: 100%;*/
}
.el-form-item__label {
  width: 80px;
  line-height: 1em !important; 
  padding: 0 0.5em 0px !important; 
 display: flex;
 justify-content: flex-end;
 align-self: center;
}
.el-progress__text {
  adjust-font-size: fs small !important;
}
.el-slider__bar {
  height: 3px !important;
}
.el-slider__runway {
  height: 3px !important;
}
.el-slider__button-wrapper {
  top: -16px;
 
} 
.el-slider__button {

  height: 12px;
  width: 12px;
  @media (--only-small-screen) {
    height: 14px;
    width: 14px;
  }
  @media (--only-xsmall-screen) {
    height: 14px;
    width: 14px;
  }
}
.el-slider {
  width: 10em;
  @media (--only-small-screen) {
    width: 10em;
  }
  @media (--only-xsmall-screen) {
    width: 13em;
  }
}
.formzone {
  display: flex;
  justify-content: flex-end;
  /*z-index: 9000;*/
  margin: 0.5em 0.5em;
  position: absolute;
  right:0;
}
.d-none {
  display: none;
}
/*стили для бэк-топ скролла*/
.vm-backtop-icon-een {
  display: inline-block;
  font-family: "RobotoR";
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vm-backtop-icon-een:before {
  content: "\e607";
}
.vm-back-top {
  z-index: 10;
  position: fixed;
  cursor: pointer;
  display: none;
}
.vm-back-top.vm-back-top-show {
  display: block;
}
.vm-back-top-inner {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.vm-back-top-inner:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.vm-back-top i {
  color: #fff;
  font-size: 24px;
  padding: 8.5px 10px;
}
.vm-back-top-nav {
  position: absolute;
  right: 100%;
  bottom: 0;
  border-radius: 3px;
  overflow: hidden;
}
.vm-back-top-nav-item {
  height: 30px;
  line-height: 30px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 10px;
  white-space: nowrap;
}
.vm-back-top-nav-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

