
@import "_typography";
@import "_variables";
@import "_extends";
/* postcss-typography */
@typography {
  a {
    text-decoration: none;
  }
  a {
    color:  color( $str6 shade(15s%)saturation(90%));
    text-decoration: none;
  }
  a:visited {
   
    color: color( $deeptaupe lightness(30%)saturation(45%));
  }  
  a:hover {

    color: color( $str6 shade(0%)saturation(90%));
  }   
  h1,h2,h3,h4,h5 {
    /*color: $redorange;*/
    color: color( $str5 lightness(60%)shade(25%)saturation(10%))
  }
}
.wrapper {
  position: relative;
  display: inline-block;
}

/*.regular-input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 20rem;
  height: 12rem;
  outline: none;
}*/

/*.regular-input:focus {
  box-shadow: 0 0 0 3px rgba(66,153,225,.5);
}*/
.cry {
  border: 1px solid color( $screenbg shade(56%));; 
  text-shadow: 0px 1px #222, 1px 0px #222;
  height: 18px; 
  width: 18px; 
  /*display: flex;*/
  background-image: url('../images/cry.jpg');
  background-size: contain;
  padding: 0.3em 0 0 0.5em;
  margin-right: 0.3em;
} 
.item-inv {
  border: 1px solid color( $screenbg shade(56%));; 
  text-shadow: 0px 1px #222, 1px 0px #222;
  height: 44px; 
  width: 44px; 
  /*display: flex;*/
   
  background-size: contain;
  padding: 0.3em 0 0 0.5em;

}
.emoji-invoker {
  /*position: absolute;*/
  /*box-shadow: 4px 3px 6px $screenbg;*/
  margin: 0.2em;
/*  top: 0.5em;
  right: 0.5rem;*/
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.emoji-invoker:hover {
  /*box-shadow: -3px 5px 12px #555;*/
  transform: scale(1.1);
}
.emoji-invoker > svg {
  fill: #b1c6d0;
}

.emoji-picker {
  position: fixed;
  margin-top: -7em;
  margin-left: 1em;
  z-index: 1;
  /*font-family: Montserrat;*/
  /*border: 1px solid #ccc;*/
  width: 15em;
  height: 15em;
  overflow: scroll;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 0.2em;
  background: $bgcol;
  box-shadow: 1px 1px 8px $bgpost1;
  /*box-shadow: 1px 1px 8px #c7dbe6;*/
}
.emoji-picker__search {
  display: flex;
}
.emoji-picker__search > input {
  flex: 1;
  border-radius: 10em;
  border: 1px solid #ccc;
  padding: 0.5rem 1em;
  outline: none;
}
.emoji-picker h5 {
  margin-bottom: 0;
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: default;
}
.emoji-picker .emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.emoji-picker .emojis:after {
  content: "";
  flex: auto;
}
.emoji-picker .emojis span {
  padding: 0.2em;
  cursor: pointer;
  border-radius: 5px;
}
.emoji-picker .emojis span:hover {
  /*background: #ececec;*/
  cursor: pointer;
}

/*  ***  */
#topsidepanel {

}
.loa{
  color: $str5;

}
.loading {

  padding: 0.5em;
  height: 2em;
  color: white;
  text-align: center;
  font-size: 20px;
}
.maincontainer { 
  
/*  background: radial-gradient(ellipse at 50% 40% , $sunsetorange , $siteBG  ); */

/*  background: url('../images/bg.png');*/
  /*background-position: center 0;*/
  /*background-color: $palespringbud;*/ 
  /*background: resolve('../images/bg.png');*/
}
.hidden {
  display: none;
}
.noimage {
  height: 100%;
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
/*.charged {
  position: absolute; 
  width: 130px;
  height: 50px;
  background: url('../images/energy_32.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: -15px 43%;
}*/
input, textarea {
  padding: 5px;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0);
  transition: .17s linear;
}
input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 1px 1px $warningLine1;

}
.field textarea, input {
  background-color: $bones;
  font-family: 'RobotoReg';

}
body {
  background-color: #1E1E21;
  font-family: 'RobotoReg';
  /*color: color($str3 shade(8%));*/
  /* color: #777;*/
  /* color: #edeef0;*/
  color: #e7e8ec;
}
.opensans {
  font-family: 'OpenSans';
}
.aprior {
  font-family: 'aprior';
}
.font3 {
  font-family: 'elemend';
}
.plashka2 {
  font-family: 'RobotoReg';
}
.el-transfer-panel__header {
  font-family: 'aprior';
  border-bottom: 1px solid color( $str5  shade(60%)) !important;
}
html {
  overflow-y: scroll;
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #222;
  scrollbar-arrow-color: #222;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #222;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}
 
#comment_body {
  background-color: color( $HeadBackColor  shade(46%));
  border-color: color( $HeadBackColor  shade(0%));
  color: inherit;
  padding: 0.5em 0.7em;
  margin-top: 0.7em;
}
.commRaiting {
  margin-left: -1em;
}
#topBlank {
  height: $topBlank;
 
}
.topBlank {
  height: $topBlank;
 
}
.lost1 {
  lost-column: 1/2;
}
.lost2 {
  lost-column: 1/1;
}
.lostcenter {
  lost-center: 980px;
}
.mainframepaddings {
  margin: 1em;
  .comm {
    padding: 0.5em 0.5em;
    border-top: 1px solid color( $HeadBackColor  shade(0%));
  } 
}

.mainframe {
  .vktext {
    padding-bottom: 0.5em;
  }

/*  adjust-font-size: fs base;
  padding: 0.5em 1.2em;
  @media (--only-xsmall-screen) {
    padding: 0.7em 0.5em;
  }
  @media (--only-small-screen) {
    padding: 0.7em 1em;
  }*/
}
.thumb_map_img_as_div{
  height: 300px; width: 500px;
}
.firstpagebg {
 
}

.dropmessage {
 /* display: flex;*/
}
.mes {
  font-family: 'aprior';
  padding: 0.5em 0 0 0;
  position: relative;
}
.vkpost {
/*  border-top: 0.1em  solid color( $HeadBackColor  shade(46%));
  border-right: 0.1em  solid color( $HeadBackColor  shade(46%));*/
  position: relative;
  overflow: hidden;
  padding: 0.5em 0.5em 0.7em 0.5em;
  margin: 0.2em;

  .namewww2{
      font-family: 'elemend';
      /*letter-spacing: -0.07em;*/
    color: color( $HeadBackColor  shade(44%));
  }
}
.vkpost:nth-child(even) {
  position: relative;
  z-index: 1;
  border: 0.2em solid color( $HeadBackColor  shade(46%));
  background-color: color( $HeadBackColor  shade(46%));
  .namewww2{
    color: $bgpost1;
  }

}
.vktext {
  padding: 0.5em 0em; 
}
.vkdate {
  /*font-style: italic;*/
  /*adjust-font-size: fs tiny;*/
  padding: 1.0em 1em 0em 0em;  
}
.vkraiting{
  padding: 0.1em;
}
.posttitlelink {
  @extend %textcolor;
  adjust-font-size: fs medium;
}
.posttitlelink:hover {
    color: rgb(86, 224, 31);
}
#head {
  .subj {
    font-family: 'RobotoReg';
  }
}
.title { 
  font-family: 'aprior';
  .vue-typer .custom.char.typed{
    color: color( $isabelline shade(10%));
  }
  .vue-typer .custom.caret.typing {
    color: $teagreen;
    background-color: $teagreen;
  }
  .vue-typer .custom.caret {
    color: $teagreen; background-color: $teagreen;
  }
}
/*.subj {
  .vue-typer .custom.char.typed{
    color:  color($warningLine blackness(80%));
  }
}*/
.plashka {
 font-family: 'aprior';
}
.railsblock {
  height: 1.2em;
  @extend %roundbgstrw;
}
.railsblockhide {

}
.deleteAction {
  color: blue;
  border-bottom: solid 1px;
  cursor: pointer;
}
.el-tabs__item {
  color: #2b5523;
  padding: 0 0.5em;
  height: 2.4em;
}
.el-tabs__header {
 
  margin: 0 0 0.3em !important;
}
.el-tabs--border-card>.el-tabs__content {
    padding: 0.4em 0em 0.2em !important;
}
.el-input-number--medium .el-input__inner{
  width: 120px !important;
  height: 1.1em !important;
  line-height: 1em !important;
  padding: 0.3em 0 !important;  
  margin: 0em 0 !important;
}
.inputZone .el-input__inner{
  height: 26px !important;
  line-height: 26px !important;
}
.el-form-item--medium{
  padding-bottom: 1.3em !important;
}
.el-form-item--medium:last-child{
  padding-bottom: 0.0em !important;
}
.el-input-number--mini .el-input-number__increase, .el-input-number--mini .el-input-number__decrease {
  width: 15px;
  height: 14px;
  font-size: 9px;
  line-height: 14px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.el-input-number{
  width: 65px;
  height: 15px; 
}
.el-input--mini {
  /*width: 65px;*/
  height: 14px;
  line-height: 14px;
} 

.el-input-number--mini .el-input__inner {
  /*width: 65px !important;*/
  height: 16px !important;
  line-height: 14px !important;
  padding: 0 0 !important;
}

.el-progress-bar {
  padding-right: 10px;
  margin-right: 50px;
}
.el-progress__text {
  color: $str5;
  line-height: 1.15 !important;
 
}
.el-notification {
  margin: 0px ;
}
.el-notification__content {
  margin: -0.5em;
  p{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .loa{
      margin-right: 0.7em;
      padding: 0.3em 0 0.3em 0;
    }
    .dropmessage{
      padding: 0.3em 0 0.3em 0;
    }
  }

}
.el-notification {
  
  font-family: 'aprior';
  padding: 0.8em 0.5em 0.8em 0.5em;
}
.el-notification__closeBtn {
  top: 0.7em;
  right: 0.7em;
}
.el-transfer-panel__empty {
  display: none !important;
}
.el-switch__core {
  height: 12px;
  border-radius: 5px;
}
.el-switch__core:after {
  width: 8px;
  height: 8px; 
}
.el-switch.is-checked .el-switch__core::after {
  left: 100%;
  margin-left: -9px;
}

.el-dialog { 
  font-family: 'aprior';
/*  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.6em;*/
}
.el-dialog__title {
  color: $screenbg;
}
.el-dialog__header {
  padding: 25px 30px 12px 30px;
}
.el-dialog__footer {
    padding: 0.5em 1em 0.6em;
    padding-top: 0px;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.el-dialog__body {
  padding: 0 2em 0 2em;
}
.el-checkbox:first-child{
 margin-left: 0em;
}
.el-form-item--mini {
  padding-bottom: 0px;
}
.el-form-item--mini:last-child{
 padding-bottom: 0.0em;
}
.el-button {
  padding: 6px;
  font-family: 'aprior';
  margin: 0.25em 0.25em 0.25em 0.25em;
}
.el-button--mini.is-circle {
    padding: 3px;
    margin: 1px;
}
.bpad{
  .el-button {

    padding: 5px;
    margin: 0.25em 0.25em 0.25em 0.25em;
  }
}
.el-checkbox{
  padding-top: 0.1em;
  margin-left: 10px;
}
.el-checkbox__label{
  padding-bottom: 0.1em;
  vertical-align: middle;
}
.el-form-item {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 0px;
}
.el-form-item__content {
   /*display: flex;
   width: 100%;*/
}
.el-form-item__label {
  /*width: 90px;*/
  line-height: 1em !important; 
  padding: 0 0.5em 0px 0em !important; 
 display: flex;
 justify-content: flex-end;
 align-self: center;
}
.el-progress__text {
  adjust-font-size: fs small !important;
}
.el-slider__bar {
  height: 3px !important;
}
.el-slider__runway {
  height: 3px !important;
}
.el-slider__button-wrapper {
  top: -16px;
 
} 
.el-slider__button {

  height: 12px;
  width: 12px;
  @media (--only-small-screen) {
    height: 14px;
    width: 14px;
  }
  @media (--only-xsmall-screen) {
    height: 14px;
    width: 14px;
  }
}
.el-slider {
  width: 10em;
  @media (--only-small-screen) {
    width: 10em;
  }
  @media (--only-xsmall-screen) {
    width: 13em;
  }
}
.el-transfer-panel .el-transfer-panel__header {
    height: 40px;
    line-height: 40px;
    background-color: color( #1E1E21 shade(30%));
    margin: 0;
    padding-left: 15px;
    border-bottom: 1px solid color( #1E1E21 shade(10%));
}
/*.is-disabled {
  color: color( #1E1E21 shade(30%)) !important;
}*/
.el-transfer__buttons{
  padding: 0 10px;
}

.formzone {
  display: flex;
  justify-content: flex-end;
  /*z-index: 9000;*/
  margin: 0.5em 0.5em;
  position: absolute;
  right:0;
}
.d-none {
  display: none;
}
/*стили для бэк-топ скролла*/
.vm-backtop-icon-een {
  display: inline-block;
  font-family: "RobotoR";
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vm-backtop-icon-een:before {
  content: "\e607";
}
.vm-back-top {
  z-index: 10;
  position: fixed;
  cursor: pointer;
  display: none;
}
.vm-back-top.vm-back-top-show {
  display: block;
}
.vm-back-top-inner {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.vm-back-top-inner:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.vm-back-top i {
  color: #fff;
  font-size: 24px;
  padding: 8.5px 10px;
}
.vm-back-top-nav {
  position: absolute;
  right: 100%;
  bottom: 0;
  border-radius: 3px;
  overflow: hidden;
}
.vm-back-top-nav-item {
  height: 30px;
  line-height: 30px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 10px;
  white-space: nowrap;
}
.vm-back-top-nav-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

