<div class="lostcenter">
	<div class="mainframepaddings">
		<h1>Редактировать пост</h1>

		<%= render 'form', post: @post %>

		<%= link_to 'Посмотреть', @post %> |
		<%= link_to 'Назад', '/' %>
	</div>
</div>
