<h4>Платежи</h4>
<table>
  <tr>
    <td>сумма</td>
    <td>время зачисления</td> 
  </tr>     
  <% @inboxes.each do |inbox| %>
    <tr>
      <td><%= inbox.withdraw_amount %> </td>
      <td><%= inbox.datetime %> </td>
    </tr>
  <% end %>
</table>

 