<h4>Платежи</h4>
<table>
  <th>
    <td>сумма</td>
    <td>время зачисления</td> 
  </th>     
  <% @inboxes.each do |inbox| %>
    <th>
      <td><%= inbox.withdraw_amount %> </td>
      <td><%= inbox.datetime %> </td>
    </th>
  <% end %>
</table>

 